<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container mt-2">
      <div class="card mb-2">
          <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ post.created_date }}</h6>
              <p class="card-text">{{ post.text|linebreaksbr }}</p>
              <p class="text-right">Author: {{ post.author }}</p>
          </div>
      </div>
  </div>
</body>
</html>
